.App {
  text-align: center;
  padding: 300px 0;
  color: #15a6db;
  font-family: "Roboto Mono", monospace;
  font-weight: 100;
  font-size: 50px;
}

.App a {
  color: #15a6db;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  padding: 30px 10px;
  text-align: center;
}

.App .btn-primary {
  border-radius: 20%;
  background-color: #15262a;
  border: 3px solid #e5fdff;
  font-size: 40px;
  margin: 10px 20px;
  display: inline-block;
  text-align: center;
}

.App .container {
  text-align: center;
}

.App .row {
  margin: 40px auto;
  display: inline-block;
  display: flex;
}

App .col-6 {
  margin: 30px auto;
  display: inline-block;
  padding: 0 auto;
}

.App h1 {
  font-size: 70px;
}

.App h2 {
  font-size: 50px;
}
